body { height: 100%;
    width:100%;
        }    

.app {
	height: 100%;
	width:100%;
}

#map { 
        position:absolute;
        top:0px;
        left:0px;
        width: 100vw; 
        height: 100vh; 
        z-index: 0;
        }  

.leaflet-popup-tip {
    width: 0px;
    height: 0px;
  }

/*
img.leaflet-tile{
             filter:  grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
            -webkit-filter:    grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);      }  */

.leaflet-popup-content-wrapper{
    width: 300px;
    height:auto;
}
