body { height: 100%;
    width:100%;
        }    

.app {
	height: 100%;
	width:100%;
}

#map { 
        position:absolute;
        top:0px;
        left:0px;
        width: 100vw; 
        height: 100vh; 
        z-index: 0;
        }  

.leaflet-popup-tip {
    width: 0px;
    height: 0px;
  }

#legendcontainer {
    display: inline-block;
    width: 9.5em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.legend {
    font-family: arial, sans-serif;
    color: black;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    height: 100%;
}

.legend-inner {
    position: absolute;
    left: 30px;
    bottom: 20px;
    pointer-events: none;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.legend-inner .gradient {
    opacity: 1;
    width: 20px;
    position: relative;
}

.legend-inner .labels {
    width: 10em;
    position: relative;
}

.legend-inner .labels .label {
    position: absolute;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.legend-inner .labels .label:before {
    content: '\2013   ';
}

#legendPreis .gradient {
    background: -webkit-linear-gradient(bottom, violet 0%, blue 20%, green 40%, yellow 60%, orange 80%, red 100%);
    background: linear-gradient(to top, violet 0%, blue 20%, green 40%, yellow 60%, orange 80%, red 100%);
}