body { height: 100%;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
        }  

.app {
	height: 100%;
	width:100%;
}

#map { 
        position:absolute;
        top:0px;
        left:0px;
        width: 100vw; 
        height: 100vh; 
        z-index: 0;
        }  

.leaflet-popup-tip {
    width: 0px;
    height: 0px;
  }


.leaflet-popup-content-wrapper{
    width: 250px;
    height:auto;
}


 #UI_container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25em;
    height: 40%;
    z-index: 900;
    vertical-align: bottom;
    pointer-events: none;
    }   

   
    #legendcontainer {
    display: inline-block;
    width: 9.5em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.legend {
    font-family: arial, sans-serif;
    color: black;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    height: 100%;
}

.legend-inner {
    position: absolute;
    left: 30px;
    bottom: 20px;
    pointer-events: none;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.legend-inner .gradient {
    opacity: 1;
    width: 20px;
    position: relative;
}

.legend-inner .labels {
    width: 10em;
    position: relative;
}

.legend-inner .labels .label {
    position: absolute;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.legend-inner .labels .label:before {
    content: '\2013   ';
}

/*
#legend_NO2 .gradient {
    background: -webkit-linear-gradient(bottom, rgb(0,85,0) 0%, rgb(0,85,0) 16%, rgb(0,170,0) 32%, rgb(255,170,0) 48%, rgb(255,85,0) 72%, rgb(170,0,0) 80%, rgb(170,0,0) 100%);
    background: linear-gradient(to top, rgb(0,85,0) 0%, rgb(0,85,0) 16%, rgb(0,170,0) 32%, rgb(255,170,0) 48%, rgb(255,85,0) 72%, rgb(170,0,0) 80%, rgb(170,0,0) 100%);
}
*/

#legend_NO2 .gradient {
    background: -webkit-linear-gradient(bottom, #4B8246 0%, #4B8246 16%, #9FD08C 32%, #EFEDB4 48%, #F47A70 72%, #8C161E 80%, #8C161E 100%);
    background: linear-gradient(to top, #4B8246 0%, #4B8246 16%, #9FD08C 32%, #EFEDB4 48%, #F47A70 72%, #8C161E 80%, #8C161E 100%);
}







img.leaflet-tile {
    filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
    -webkit-filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
}


#menu {
    background-color: rgba(56, 181, 173, 1);
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1200;
    padding: 5px 10px;
}

#menu:hover, #menu:focus {
    background-color: rgb(49, 135, 127);
}

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25em;
    max-width: 100%;
    display: none;
    z-index: 1000;
    background-color: rgba(250, 250, 250, 0.8);
    overflow-y: auto;
    font-weight: normal;
}

#loading_layer {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 1100;
 	background-color: rgba(250,250,250,0.4);
}
#loading {
	position: absolute;
	top: 40%;
	width: 100%;
	font-family: Arial,serif;
	font-size: 200%;
	font-weight: bold;	
}

#explanation{
	padding: 20px;
}

#cercle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
}